button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"]{-webkit-appearance:button;border-radius:0}
body, select,input,textarea { font-size:13px;  }
img{max-width:100%}
.nop_pc{display:none;}
.nom{display:none; position:absolute; width:0; height:0; overflow:hidden;}
#bodyWrap{width:auto}
.wrap{width:auto; margin:0;}
/* 팝업레이어 */
#hd_pop {margin:0 auto;width:auto;height:0}
.hd_pops {position:absolute;border:1px solid #EEE;background:#fff; top:0 ; left:0 !important;}
.hd_pops.mobile {display:none; }
.hd_pops img{max-width:100%;}
.hd_pops_con {width:auto !important; height:auto !important;}
.hd_pops_footer {padding:10px 0;background:#000;color:#fff;text-align:right}
.hd_pops_footer button {margin-right:5px;padding:5px ;border:0;background:#393939;color:#fff}
.hd_pops.mobile {display:block;}
.hd_pops.pc {display:none;}

#hd_top{display:none}
#hd_pops_24 {top:550px !important;}

#header{padding: 35px 0px;}
#header h1{float:none; padding:10px 0; text-align:center}
#header h1 img{height:50px; }
#header .hd_addr{display:none}
#topMenu{display:none;}

#main_visual li{ height:auto;   background-size:cover;}
#main_visual .swiper-pagination{bottom:10px; }
#main_visual .swiper-pagination-bullet{width:6px; height:6px;margin:0 2px;  }
#main_visual .mvpn{position:absolute; bottom:0; z-index:3; padding:0;height:0; left:0; right:0;  }
#main_visual .mvpn a{position:absolute; top:-40px; width:40px; height:40px;  padding:0; margin:0; background:rgba(0,0,0,.5); border:0; cursor:pointer; }
#main_visual .mvpn a:after{position:absolute; top:50%; width:20px; height:20px; border-style:solid; border-color:#FFF; border-width:2px; content:"";}
#main_visual .mvpn .swiper-button-prev{left:0;}
#main_visual .mvpn .swiper-button-next{right:0;}
#main_visual .mvpn .swiper-button-prev:after{left:10px; border-color:#FFF transparent transparent #FFF; transform-origin:left top;-ms-transform-origin:left top;-webkit-transform-origin:left top;-moz-transform-origin:left top;-o-transform-origin:left top;  }
#main_visual .mvpn .swiper-button-prev:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);}
#main_visual .mvpn .swiper-button-next:after{right:10px; border-color:#FFF #FFF transparent transparent ;  transform-origin:right top;-ms-transform-origin:right top;-webkit-transform-origin:right top;-moz-transform-origin:right top;-o-transform-origin:right top;  }
#main_visual .mvpn .swiper-button-next:after{transform:rotate(45deg);-ms-transform:rotate(45deg); -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg);-o-transform:rotate(45deg);}


.sns_icon{display:none;}

#btnmobileMenu{ position:absolute;display:block;  z-index:2; background:#fff; width:40px; height:40px;   border:0;  left:10px; top:50%; margin-top:-20px;    text-indent:-1000px; overflow:hidden; box-sizing:border-box;}
#btnmobileMenu:after{position:absolute;   border-top:2px solid #f5bbac; border-bottom:2px solid #f5bbac;   top:25%;  bottom:25%; left:20%; right:20%; content:"";}
#btnmobileMenu:before{position:absolute; height:2px; top:50%; margin-top:-1px; left:20%; right:20%; background:#f5bbac; content:"";}

#btnMobileCall{position:absolute;display:block;  z-index:2; background:#fff; width:40px; height:40px;   border:0;  right:10px; top:50%; margin-top:-20px;   color:#f5bbac; line-height:40px;  background:#f2ecea;  border-radius:100%; text-align:center; overflow:hidden; box-sizing:border-box;}
#btnMobileCall i{font-size:24px;}

#me{margin-top:8vw;}
#me dl{flex-wrap:wrap;}
#me dl dd{width:48%; margin:1%;}
#me dl dd:nth-child(3){order:4}
#me dl dd img{width:100%;}

#mf{margin-top:8vw;  }
#mf h3{position:relative; font-size:4.5vw; line-height:120%;}
#mf section{ padding:6vw 0; margin-top:8vw;}
#mf section ul{ margin-left:8%}
#mf section ul li{width:80%;margin: 0 2%;   }

#mf .mvpn a{margin-top:-18px; width:40px; height:36px;     }
#mf .mvpn a:after{  width:15px; height:15px; border-style:solid; border-color:#333; border-width:2px; content:"";}
#mf .mvpn .swiper-button-prev{left:0;}
#mf .mvpn .swiper-button-next{right:0;}
#mf .mvpn .swiper-button-prev:after{left:15px;}
#mf .mvpn .swiper-button-next:after{right:15px;}



#ma{margin-top:8vw;}
#ma #ma_bn dd{      width:50vw}
#ma #ma_bn .b2{  margin-top:1vw; }


#ma #ma_sc1{ margin-left:1vw; width:49vw; }
#ma #ma_sc1 .mvpn{position:absolute; z-index:3; left:3vw; bottom:3vw; }
#ma #ma_sc1 li img{height:66vw}
#ma  .mvpn a{ margin-right:1vw;    width:10vw; height:10vw;   }
#ma  .mvpn a:after{width:4vw; height:4vw;  border-width:1px; }
#ma  .mvpn .prev:after{left:3vw;}
#ma  .mvpn .next:after{right:3vw;}

#ma #ma_sc2{float:none;  width:100%;  }
#ma #ma_sc2 ul li{   height:86vw;   background-size:contain}
#ma #ma_sc2 ul li article{  padding:4vw; }
#ma #ma_sc2 ul li article h6{font-size:1em;  }
#ma #ma_sc2 ul li article h3{ font-size:2em; }
#ma #ma_sc2 ul li article p{font-size:1em;  }
#ma #ma_sc2 .mvpn{ right:3vw; top:3vw; }

#mb{margin-top:8vw;padding:0 2vw}
#mb dt{float:none; margin-right:0; margin-bottom:6vw; }
#mb dt img{display:none}
#mb dt h4{ height:8vw; margin-bottom:4vw;}
#mb dt h4 strong{ font-size:6vw; line-height:8vw;}
#mb dt h4 a{ width:8vw; height:8vw; }
#mb dt ul li{line-height:8vw;  }
#mb dd{float:none;}
#mb dd img{width:100%;}

#mc{margin-top:8vw; padding:5vw 2vw;}
#mc header h2{ font-size:8vw;  }
#mc header h2 span{color:#ff9c83;  }
#mc header p{margin-top:2vw; font-size:4vw;   }
#mc dl{ margin-top:3vw;}
#mc dl dt{ width:100%;   float:none;  position:relative;  overflow:hidden;  }
#mc dl dt li{  height:0; padding-top:65.6%;  }
#mc dl dd{  width:100%;float:none; margin-top:3vw; display:none;}
#mc .mvpn{position:relative;   text-align:center}
#mc .mvpn a{position:relative; display:inline-block;   margin-top:-20px; width:50px; height:40px;    background:#FFF;  border:1px solid  #DDD; cursor:pointer; opacity:1; margin-right:-1px;}
#mc .mvpn a:after{position:absolute; top:50%; width:20px; height:20px; border-style:solid; border-color:#333; border-width:2px; content:"";}
#mc .mvpn .swiper-button-prev{left:0;}
#mc .mvpn .swiper-button-next{right:0;}
#mc .mvpn .swiper-button-prev:after{left:15px; border-color:#ff9c83 transparent transparent #ff9c83; transform-origin:left top;-ms-transform-origin:left top;-webkit-transform-origin:left top;-moz-transform-origin:left top;-o-transform-origin:left top;  }
#mc .mvpn .swiper-button-prev:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);}
#mc .mvpn .swiper-button-next:after{right:15px; border-color:#ff9c83 #ff9c83 transparent transparent ;  transform-origin:right top;-ms-transform-origin:right top;-webkit-transform-origin:right top;-moz-transform-origin:right top;-o-transform-origin:right top;  }
#mc .mvpn .swiper-button-next:after{transform:rotate(45deg);-ms-transform:rotate(45deg); -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg);-o-transform:rotate(45deg);}



#md{  margin-top:0;padding:0}
#md h4{display:none;}
#md dt{float:none; width:auto; text-align:center; background:#f1efed; padding-bottom:3vw;}
#md dt ul{padding-bottom:4vw;  text-align:left;}
#md dt ul li{padding:1vw 3vw; font-size:7vw; line-height:12vw; }
#md dt ul li a{color:#FFF;}
#md dt ul li:nth-child(1) a{color:#333333;}
#md dt ul li:nth-child(1){background:#f5bbac}
/* #md dt ul li:nth-child(1) a:after{position:absolute; top:4vw; font-size:6vw; right:4vw; content:"touch"; background:#333333; color:#f5bbac; border-radius:50px; padding:0 3vw; line-height:8vw;} */
#md dt ul li:nth-child(2){background:#555}
#md dt ul li:nth-child(3){background:#3e3132}
#md dt ul li:nth-child(4){background:#13bd3d}
#md dt ul li .icon-call{background:#df9581; width:12vw; height:12vw; line-height:12vw;}
#md dt ul li img{width:12vw;}
#md dt ul li .tele{font-size:6vw;}

#md .tw { background:#fff; padding-bottom:1vw;margin-top:8vw;}
#md .tw2 { background:#fff; padding-bottom:0;margin-top:0;}
#md dt ul.na{padding-bottom:0px; border-bottom:0;}
#md dt ul.na li { background:#fff; }
#md dt ul.na li h5.st {text-align:center; border:none; line-height:10px; margin-top:0px; font-size:5vw; background-color:#fff; color:#ef7c5e; font-weight:600; margin-bottom:10px;}
#md dt ul.na li h5.box {text-align:center; border:none; line-height:23px; margin-top:0px; font-size:3.5vw; background-color:#ef7c5e; color:#fff; padding:15px;}
#md dd .pkmap{height:0; padding-top:69%;  margin-top:0;}

#md dt ol{padding-top:4vw; font-size:5.5vw; display:inline-block;}
#md dt ol li{line-height:25px; padding:5px 0; padding-left:86px; position:relative; }
#md dt ol li label{position:absolute; left:0; }
#md dt ol li strong{font-weight:600;}
#md dt ol li small{font-size:.8em;}
#md dt ol li label.s{letter-spacing:.5em; }
#md dt p{text-align:center; border:0; line-height:30px; margin-top:3vw; color:#d3404b;font-size:5vw;}
#md dd{float:none; width:auto; margin-top:5vw}
#md dd p{font-size:4.5vw;  line-height:10vw; text-align:center; border:1px  solid #f1a08b; margin:3vw;}
#md dd .map{height:0; padding-top:60%;  margin-top:0;}





#footer{  margin-top:0; 
  /* padding-bottom:4vw; */
}
#footer .tail_links{position:relative; line-height:10vw;}
#footer .tail_links:before{position:absolute; top:0; background:#FFF; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9;  bottom:0; left:50%; margin-left:-50vw; width:100vw;content:"";}
#footer .tail_links a{position:relative; display:inline-block; margin:0px 3px; font-size:.9em; }
#footer .tail_links a:before{display:none;}
#footer h1{margin-top:4vw}
#footer h1 img{height:60px}



#sub_visual{position:relative; height:auto; padding:5vw 0  ; background-position:60% center }
#sub_visual h6 span{  font-size:1em;   line-height:130%; }
#sub_visual h5{ font-size:2em;   margin-top:2%;}
#sub_visual h2{ font-size:2.5em;    }

#pageNavi{  height:40px; line-height:40px; margin:0;}
#pageNavi .fa-home{border-left:0; line-height:40px; font-size:1.4em; padding:0 10px}
#pageNavi dl dt{padding:0 15px;  }
#pageNavi dl dd{top:40px; width:200px}
#pageNavi dl.sub dt{padding-right:30px;}
#pageNavi dl.sub dt:after{ right:10px; line-height:40px;  }


/* 폼 테이블 */
.tbl_frm01 {margin:0 0 20px}
.tbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm01 tr {display:block; border-bottom:1px solid #EEE; padding:10px 0}
.tbl_frm01 th {width:auto; display:block; border:0; padding:0;}
.tbl_frm01 td {display:block; border:0; padding:0}
.tbl_frm01 td .frm_input{width:100%;}
.tbl_frm01 td #reg_mb_zip{width:20%;}


.tbl_frm01 .frm_file {display:block;margin-bottom:5px}
.tbl_frm01 .frm_info {display:block;padding:0 0 5px;line-height:1.4em}



